.container {
    margin: 40px 100px auto;
    background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254) 86.8%);
    height: 520px;
    width: 550px;
    padding: 10px 0px 35px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(160, 199, 254, 0.6);
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ysabeau', sans-serif;
    }


.current-city {
    width: 100px;
    height: 100px;
    margin-left: 400px;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ysabeau', sans-serif;
    font-size: large;

}


.nav {
    width: 400px;
    height: 50px;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-family: 'Ysabeau', sans-serif;
    vertical-align: top;

}


.submit {
    margin-left: 15px;
    margin-top: 10px;
    height: 32px;
    width: 55px;
    padding: 5px;
    font-family: monospace;
    font-size: medium;
    color: rgb(43, 116, 219);
    border-radius: 5px;
    border: 1px solid rgb(43, 116, 219);
}

.submit:hover {
    background-color: rgb(160, 199, 254);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid;
}

.currentLocation {
    height: 32px;
    width: 58px;
    padding: 3px 2px 0;
    font-family: monospace;
    font-size: medium;
    color: rgb(43, 116, 219);
    border-radius: 5px;
    border: 1px solid rgb(43, 116, 219);
}

.currentLocation:hover {
    background-color: rgb(160, 199, 254);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid;
}


.weather-days {  
    font-family: 'Playfair Display', serif;
    font-family: 'Ysabeau', sans-serif;
    width: 500px;
}

.col{
    margin-left: 2px;
    margin-top: 5px;
    align-items: center;
}

.col:hover{
    background-color: aliceblue;
    cursor: pointer;
    transition: all 150ms ease-out;
    border-radius: 10px;
}


.days-emo {
    width: 70px;
}

.max-temp{
    margin-left: 15px;
}

h3 {
    font-size: large;

}

p {
    font-family: 'Playfair Display', serif;
    font-family: 'Ysabeau', sans-serif;
    text-align: right;
    margin-right: 250px;

}

.condition {
    margin-left: 10px;
}

.temperature-one {
    font-size: medium;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.currentDate {
    margin: 1px 400px auto;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ysabeau', sans-serif;
    font-size: large;
   
}

.searchCity {
    border: 2px solid rgba(160, 199, 254, 0.6);
    border-radius: 10px;
    background-color: rgba(255, 255, 249, 0.6);
    font-family: 'Playfair Display', serif;
    font-family: 'Ysabeau', sans-serif;
}

.searchCity:hover {
    border: 2px solid rgb(43, 116, 219);
    size: 50px;
    transition: all 200ms ease-in-out;
    cursor: zoom-in;
}


.repository{
    margin-left: 300px;
    margin-top: 5px;
    font-size: small;
}

.text{
    font-size: smaller;
    margin-top: 6px;
}