.container {
    margin: 40px 100px auto;
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
    height: 450px;
    width: 580px;
    padding: 10px 0px 35px 60px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(160, 199, 254, 0.6);
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ysabeau', sans-serif;
}


.current-city {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ysabeau', sans-serif;
    font-size: large;

}


.nav {
    width: 400px;
    height: 50px;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-family: 'Ysabeau', sans-serif;
    vertical-align: top;

}


.submit {
    margin-left: 15px;
    margin-top: 10px;
    height: 25px;
    width: 55px;
    padding: 5px;
    font-family: monospace;
    font-size: medium;
    color: rgb(43, 116, 219);
    background-color: rgb(209, 223, 236);
    border-radius: 5px;
    border: 1px solid rgb(43, 116, 219);
}

.submit:hover {
    background-color: rgb(160, 199, 254);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid;
}

.currentLocation {
    height: 25px;
    width: 55px;
    padding: 3px 2px 0;
    font-family: monospace;
    font-size: medium;
    color: rgb(43, 116, 219);
    background-color: rgb(209, 223, 236);
    border-radius: 5px;
    border: 1px solid rgb(43, 116, 219);
}

.currentLocation:hover {
    background-color: rgb(160, 199, 254);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid;
}


.columns {
    display: inline-block;
    padding: 20px;
    border: solid #a4ccf1 1px;
    border-radius: 10px;
    
}

.columns:hover {
    border-radius: 10px;
    background-color: rgb(160, 199, 254);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.weather-days {
    margin: 45px 0 auto;
    width: 600px;    
    font-family: 'Playfair Display', serif;
    font-family: 'Ysabeau', sans-serif;

}

.emo {
    font-size: 50px;
    margin-top: 1px;
}

h3 {
    font-size: large;

}

p {
    font-family: 'Playfair Display', serif;
    font-family: 'Ysabeau', sans-serif;
    text-align: right;
    margin-right: 250px;

}

.condition {
    margin-left: 10px;
}

.temperature-one {
    font-size: medium;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.currentDate {
    margin: 30px 410px auto;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ysabeau', sans-serif;
    font-size: large;
   
}

.searchCity {
    border: 2px dashed rgba(160, 199, 254, 0.6);
    border-radius: 10px;
    background-color: rgba(255, 255, 249, 0.6);
    font-family: 'Playfair Display', serif;
    font-family: 'Ysabeau', sans-serif;
}

.searchCity:hover {
    border: 2px solid rgb(43, 116, 219);
    size: 50px;
    transition: all 200ms ease-in-out;
    cursor: zoom-in;
}

.repository{
    margin-left: 300px;
    margin-top: 5px;
}

.text{
    font-size: small;
    margin-top: 5px;
}